<div style="display:flex;justify-content: space-between">
  <h4>Customers</h4>
</div>

<table class="table">
  <thead class="text-muted bg-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let customer of customers" [class.selected]="customer === selectedCustomer" (click)="onSelect(customer)">
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.name}}</td>  
    </tr>
  </tbody>  
</table>

<div *ngIf="selectedCustomer">
    <app-customer-detail [customerId]="selectedCustomer.id"></app-customer-detail>
  </div> 
