<!-- Appointments List: AppointmentNumber, customerLink, serviceProductLink, serviceDate, plannedTime -->

<div style="display:flex;justify-content: space-between">
  <h4>My Appointments</h4>
</div>

<!--https://getbootstrap.com/docs/4.0/utilities/colors/-->
<!--https://getbootstrap.com/docs/4.0/content/tables/-->
<table class="table">
    <thead class="text-muted bg-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Service Product</th>
        <th scope="col">Service Date</th>
        <th scope="col">Planned Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments" [class.selected]="appointment === selectedAppointment" (click)="onSelect(appointment)">
          <!--<span class="badge">{{appointment.description}}</span> -->
          <th scope="row">{{appointment.id}}</th>
          <td>{{appointment.customer.name}}</td>
          <td>{{appointment.serviceProduct.name}}</td>
          <td>{{appointment.serviceDate}}</td>
          <td>{{appointment.plannedTimeRange}}</td>
      </tr>
    </tbody>
  </table>


<a routerLink="/appointmentdetails"><button>Appointment Details</button></a>
<a routerLink="/servicecompletion"><button>Service Completion</button></a>

