<!--
<h1>Sprinter T2</h1>

<div class="list">
  <ol class="parts">
    <li *ngFor="let part of parts">
      <h2 class="ca-main">{{part.part.name}}</h2>
				<h3 class="ca-sub">{{part.quantity}}</h3>
        <h3 class="ca-sub">{{part.unit}}</h3>
    </li>
  </ol>
</div>
<a routerLink="/neworder"><button>Neue Bestellung</button></a>
-->

<div style="display:flex;justify-content: space-between">
  <h4>Warehouse</h4>
  <a routerLink="/neworder">
    <button style="margin-left:auto;" type="button" class="btn btn-primary">
      <i class="fas fa-plus fa-sm"></i>
      Neue Bestellung
    </button>
  </a>
</div>

<table class="table" style="margin-top:15px;">
  <thead class="text-muted bg-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Anzahl</th>
      <th scope="col">Einheit</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let part of parts">
        <th scope="row">{{part.id}}</th>
        <td>{{part.part.name}}</td>
        <td>{{part.quantity}}</td>
        <td>{{part.unit}}</td>
    </tr>
  </tbody>
</table>


