<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark" *ngIf="currentUser">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tasksNotes">Tasks/ Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/warehouse">Warehouse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/neworder">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/appointments">Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/servicecompletion">Service Completion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/servicecompletionlist">Completed Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/serviceproducts">Service products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/customers">Customers</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-sm"></i> {{currentUser.name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/"><i class="fas fa-cog fa-sm"></i> User setting</a>
          <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt fa-sm"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
