<div style="display:flex;justify-content: space-between">
    <h4>Service products</h4>
  </div>
<table sortable-table (sorted)="onSorted($event)" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortableColumn="serialNumber">serial number</th>
      <th scope="col" sortableColumn="name">name</th>
      <th scope="col" sortableColumn="description">description</th>
      <th scope="col" sortableColumn="purchaseDate">purchase date</th>
      <th scope="col" sortableColumn="customer">customer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let serviceProduct of serviceProducts; let index=index">
      <th scope="row">{{index}}</th>
      <td>{{serviceProduct.serialNumber}}</td>
      <td>{{serviceProduct.name}}</td>
      <td>{{serviceProduct.description}}</td>
      <td>{{serviceProduct.purchaseDate | date }}</td>
      <td><a [routerLink]="['/customers',serviceProduct.customerId]">{{getCustomerNameById(serviceProduct.customerId)}}</a></td>
    </tr>
  </tbody>
</table>
