
<form>
  <div class="form-group col-md-6" style="display:flex;justify-content: space-between">
    <h4>Service Completion Form</h4>
  </div>
  <div class="form-group col-md-6">
    <label for="appointmentDropdown">Select Appointment:</label>
    <select class="form-control" id="appointmentDropdown" [(ngModel)]="selectedId" name="appointment.id" #status="ngModel">
      <option *ngFor="let appointment of appointments" [value]="appointment.id">{{appointment.id}}, {{appointment.customer.name}}, {{appointment.serviceProduct.name}}, {{appointment.serviceDate}}, {{appointment.plannedTimeRange}}</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="ServiceDate">Service Date: </label>
    <input type="text" required class="form-control" id="ServiceDate" [(ngModel)]="serviceDate" name="date" #title="ngModel">
  </div>
  <div class="form-group col-md-6">
    <label for="RealTime">Required Time: </label>
    <input type="text" required class="form-control" id="RealTime" [(ngModel)]="realTime" name="time" #title="ngModel">
  </div>
  <div class="form-group col-md-6">
    <label for="Signature">Signature Customer: </label>
  </div>

  <!-- TODO used parts -->   

  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-success" (click)="serviceCompletion()">Complete Service Completion</button>
  </div>
</form>

<!-- TODO Service Completion Object list-->